/* @import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap"); */

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#root {
  background-color: #2d143e;
}

.login-screen {
  background-color: #2d143e;
}

.cursor-pointer {
  cursor: pointer;
}

.dotLoader-animation {
  svg {
    animation: rotate 3s linear infinite;
    transform-origin: center;
  }
}

.chat-editor {
  .epr_q53mwh.epr_vl50xg.epr_-3yva2a.epr_c90x4z.epr_-sisw4f.epr_mw4zr1.epr_-kg0voo.epr_iogimd.epr_wtwvf4.epr_-lzq3oa {
    display: none;
  }
}
