/* @import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap"); */

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#root {
  background-color: #2d143e;
}

.login-screen {
  background-color: #2d143e;
}

.cursor-pointer {
  cursor: pointer;
}

.dotLoader-animation {
  svg {
    animation: rotate 3s linear infinite;
    transform-origin: center;
  }
}

.chat-editor {
  .emoji-mart-bar {
    display: none;
  }
}
